# Node modules
node_modules/
**/node_modules/

# Build output
dist/
build/
.next/
out/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.* 

# OS/system files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Bun
.bun/

# Turbo/PNPM
turbo/
.pnpm-debug.log
